/*----------------
	media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
	volume
------------*/

#pulseaudio,
#wireplumber {
	background-color: @workspaces;
}

/*----------------
	brightness
----------------*/

#backlight {
	background-color: @workspaces;
}

/*-------------
	battery
-------------*/

#battery {
	background-color: @workspaces;
}

/*----------------
	power menu
----------------*/

#custom-power_menu {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
#custom-power_menu:hover {
	background-color: @hover-bg;
}
