/*------------------
	window count
------------------*/

#windowcount {
	margin-right: 12px;
}
#windowcount label {
	color: @hover-fg;
}

/*------------
	memory
------------*/

#memory {
	background-color: @memory;
  padding: 0 1px;
}

/*---------
	cpu
---------*/

#cpu {
	background-color: @cpu;
  padding: 0 1px;
}

/*-----------------
	distro icon
-----------------*/

#custom-distro {
	padding: 0 12px 0 7px;
	background-color: @accent;
	color: @main-bg;
}

/*----------
	time
----------*/

#clock.time {
	padding: 0 12px;
	background-color: @time;
}

/*-----------------
	system tray
-----------------*/

#network {
	background-color: @memory;
	padding: 0 7px 0 5px;
}
#bluetooth {
	background-color: @memory;
	padding: 0 6px;
}
