* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 16px;
	color: @main-fg;
}

#custom-user,
#window label,
#mpris,
tooltip label {
	font-weight: normal;
}

#workspaces button.active label,
#custom-distro {
	font-size: 18px;
}

#custom-power_menu {
	font-size: 20px;
}
