/* monochrome-dark-refined */

/* grayscale palette */
@define-color white        #ffffff;
@define-color light-gray   #cfcfcf;
@define-color gray         #8a8a8a;
@define-color mid-gray     #5c5c5c;
@define-color dark-gray    #3a3a3a;
@define-color darker-gray  #222222;
@define-color black        #101010;

/*
    br - border
    bg - background
    fg - foreground
*/

/* main colors */
@define-color accent        #b0b0b0;          /* slightly dimmed gray accent */
@define-color main-br       @mid-gray;
@define-color main-bg       @black;
@define-color main-fg       @white;
@define-color hover-bg      @dark-gray;
@define-color hover-fg      alpha(@white, 0.8);
@define-color outline       shade(@black, 0.6);

/* module colors */
@define-color workspaces    @darker-gray;
@define-color memory        @darker-gray;
@define-color cpu           @dark-gray;
@define-color time          @dark-gray;
@define-color date          @dark-gray;
@define-color tray          @darker-gray;
@define-color volume        @dark-gray;
@define-color backlight     @dark-gray;
@define-color battery       @dark-gray;

/* state colors */
@define-color warning       #aaaa33; /* dim amber */
@define-color critical      #cc4444; /* muted red */
@define-color charging      #66aa66; /* desaturated green */
